@font-face {
  font-family: FiraCode Nerd Font;
  src: url("https://cdn.jsdelivr.net/gh/ryanoasis/nerd-fonts@latest/patched-fonts//FiraCode/Regular/complete/Fira%20Code%20Regular%20Nerd%20Font%20Complete.ttf");
}


@font-face {
  font-family: Hack Nerd Font;
  src: url("https://cdn.jsdelivr.net/gh/ryanoasis/nerd-fonts@latest/patched-fonts//Hack/Regular/complete/Hack%20Regular%20Nerd%20Font%20Complete.ttf");
}


